---
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: None
BreakBeforeBraces: GNU
IndentWidth: 4
IndentCaseBlocks: true
IndentCaseLabels: true
IndentAccessModifiers: true
LambdaBodyIndentation: Signature
NamespaceIndentation: All
AllowShortEnumsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
SortIncludes: CaseSensitive
Cpp11BracedListStyle: false
